.WeatherForecast {
  text-align: center;
  background-color: #385170;
  margin: 20px, auto;
  color: #e3e3e3;
}

.WeatherForecastDay {
  background-color: hsl(0, 0%, 89%, 0.04);
  border-radius: 6px;
  font-family: "Lato", sans-serif;
}

.WeatherForecast-day {
  font-size: 20px;
}

.WeatherForecast-temp {
  font-size: 30px;
}

.WeatherForecast-temp-min {
  opacity: 60%;
  margin-left: 7px;
}
